div.parent {
  position: relative;
  counter-increment: counter;
  clear: both;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.numbers {
  width: 75px;
  height: 75px;
  font-size: 30px;
  margin: 0 20px;
  background-color: #999;
  color: rgb(131, 255, 255);
  text-align: center;
  top: 10px;
}

.numbers p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

div.data {
  width: 600px;
  position: relative;
  float: left;
  padding: 10px;
  background-color: #999;
  top: 10px;
}

div.data::before {
  content: counter(counter);
  border: 10px solid;
  width: 0;
  height: 0;
  border-color: transparent rgb(255, 164, 27) transparent transparent;
  position: absolute;
  left: -22px;
}

div.data::after {
  content: attr(data-);
  width: 10px;
  height: 100%;
  background-color: aquamarine;
  position: absolute;
  right: -15px;
  top: 0px;
}
