a.two {
  padding: 12px 30px;
  background-color: azure;
  display: inline-block;
}

p {
  background-origin: border-box;
  background-color: rgb(248, 255, 205);
}

img {
  vertical-align: bottom;
}

p .arab {
  direction: ltr;
}

body {
  font-family: "cairo", sans-serif;
}

.modal {
  display: none;
}

.modal.open {
  display: block;
}

.modal .overlay {
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.modal .dialog {
  z-index: 4;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
